tags
*.taghl

*.html
*.dvi
*.pdf
*.aux
*.log
*.out

*.png
*.group3.tiff
*.group4.tiff
*.jbig2
*.jbig
*.pbm*
*.pig
*.csv

toolchain/freeader_enc
toolchain/freeader_emu

firmware/*.o
firmware/*.d
firmware/*.hex
firmware/*.list
firmware/*.map
firmware/*.srec
firmware/*.bin
firmware/*.elf
firmware/*.disas.S
